<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="uno.platform.unosampleapp" android:versionCode="1" android:versionName="1.0" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="19" android:targetSdkVersion="31" />
	<!-- NOTE: Add permissions in AssemblyInfo.cs -->
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.BLUETOOTH" />
	<!-- NOTE: Uncomment the following to test the use of custom tabs for the WebAuthenticationBroker -->
	<!--<queries>
		<intent>
			<action android:name="android.support.customtabs.action.CustomTabsService" />
		</intent>
	</queries>-->
	<uses-permission android:name="android.permission.READ_CONTACTS" />
	<application android:label="SamplesApp" android:usesCleartextTraffic="true">
		<!-- Set an API key locally to test the MapControl - https://developers.google.com/maps/documentation/android-sdk/get-api-key -->
		<meta-data android:name="com.google.android.geo.API_KEY" android:value="YOUR API KEY" />

	</application>
</manifest>
