<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Uno SamplesApp</string>
	<key>CFBundleIdentifier</key>
	<string>uno.platform.samplesdev</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MinimumOSVersion</key>
	<string>12.2</string>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionMinimumTLSVersion</key>
		<string>TLSv1.2</string>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>This app needs access to use your camera.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This app needs access to use your photo library.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>This app needs access to use your microphone.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>This app needs access to add to your photo library.</string>
	<key>NSMotionUsageDescription</key>
	<string>This is a step counter, and we&apos;d like to track motion. </string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>TODO NSLocationWhenInUseUsageDescription</string>
	<key>NSLocationUsageDescription</key>
	<string>TODO NSLocationUsageDescription</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>Uno Samples Test scheme</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>uno-samples-test</string>
			</array>
		</dict>
	</array>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>XSAppIconAssets</key>
	<string>Assets.xcassets/iconapp.appiconset</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
</dict>
</plist>
