<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="NuGet official package source" value="https://api.nuget.org/v3/index.json" />
    <!-- Needed for .NET 9 preview 4 as we need to reference roslyn 4.11 which isn't (yet) published to NuGet.org -->
    <add key="dotnet-tools" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-tools/nuget/v3/index.json" />
    <add key="Solution Packages" value="src/PackageCache" />
  </packageSources>
</configuration>
