<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="uno.platform.samplesapp.skia" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="35" />
	<!-- NOTE: Add permissions in AssemblyInfo.cs -->
	<application android:label="Uno Samples (Skia)" android:usesCleartextTraffic="true">
		<!-- Set an API key locally to test the MapControl - https://developers.google.com/maps/documentation/android-sdk/get-api-key -->
		<meta-data android:name="com.google.android.geo.API_KEY" android:value="YOUR API KEY" />
	</application>
	<queries>
		<intent>
			<action android:name="android.intent.action.VIEW" />
			<category android:name="android.intent.category.BROWSABLE" />
			<data android:scheme="https" />
		</intent>
	</queries>
</manifest>
