<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
	<customErrors mode="Off"/>
  </system.web>

  <system.webServer>
	<urlCompression doStaticCompression="true" doDynamicCompression="true" />

	<staticContent>
	  <mimeMap fileExtension=".wasm" mimeType="application/wasm" />
	  <mimeMap fileExtension=".clr" mimeType="application/octet-stream" />
	  <mimeMap fileExtension=".woff2" mimeType="application/woff2" />
	  <mimeMap fileExtension=".dat" mimeType="application/octet-stream" />
	</staticContent>

	<httpCompression maxDiskSpaceUsage="500"
	noCompressionForRange="false"
	doDiskSpaceLimiting="false"
			dynamicCompressionDisableCpuUsage="100"
			dynamicCompressionEnableCpuUsage="0"
	staticCompressionEnableCpuUsage="0"
			staticCompressionDisableCpuUsage="100"
	staticCompressionIgnoreHitFrequency="true">
	  <dynamicTypes>
		<clear />
		<add enabled="true" mimeType="application/wasm"/>
		<add enabled="true" mimeType="application/octet-stream"/>
		<add enabled="false" mimeType="*/*"/>
	  </dynamicTypes>
	  <staticTypes>
		<clear />
		<add enabled="true" mimeType="application/wasm"/>
		<add enabled="true" mimeType="application/octet-stream"/>
		<add enabled="false" mimeType="*/*"/>
	  </staticTypes>
	</httpCompression>
  </system.webServer>
</configuration>
