@use "../variables" as *;

:root {
  --docsearch-primary-color: #{$blue} !important;
  --docsearch-logo-color: #{$blue} !important;
}

// Hide standard DocFX filter if it appears
.toc-filter, #toc_filter_input {
  display: none !important;
}

.sidefilter {
  background-color: transparent;
  padding: 24px 24px 12px 24px;
  margin: 0;
  display: block !important;

  .DocSearch-Button {
    background: transparent;
    border: 1px solid #e7e7e7;
    border-radius: 4px;
    margin: 0;
    min-height: 36px;
    padding: 6px 5px;
    width: 100%;
    color: #333;
    box-shadow: none;
  }

  .DocSearch-Button:active,
  .DocSearch-Button:focus,
  .DocSearch-Button:hover {
    background: #f5f5f5;
  }

  .DocSearch-Button .DocSearch-Search-Icon {
    display: none;
  }

  .DocSearch-Button-Placeholder {
    color: #666;
    font-family: "Open Sans", sans-serif;
    font-size: 17px;
    font-weight: 400;
    padding: 0;
    display: block;
    text-align: left;
  }
}

.DocSearch.DocSearch-Container {
  z-index: 9999;
}
