@import "../variables";

.sidefilter {
  top: 116px;
  z-index: 2;
  padding: 10px;
  background-color: transparent!important;

  #search {
    display: block;
    border-radius: 10px;
    input:focus {
      outline: none;
      border:2px solid #159bff;
    }
  }

  #search-query {
    border-radius: 6px;
    height: 45px;
    width: 100%;
    padding: 10px;
  }

  #search-results {
    background: white;
    position: absolute;
    margin:5px 0 0 0;
    width:560px;
    max-height: calc(100vh - 250px);
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 10px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    overflow-y: auto;

    .sr-items {
      a {
        color: black;
        &:last-child {
          margin-bottom: 0;
        }
      }

      p {
        margin: 10px;
      }

      .sr-item {
        display: block;
        padding: 15px;
        margin-bottom: 10px;
        &:hover{
          background-image:linear-gradient(to bottom, rgba(21,155,255, 0.11) 0%, rgba(21,155,255, 0.11) 100%), linear-gradient(to bottom, rgba(21,155,255, 0.11) 0%, rgba(21,155,255, 0.11) 100%);
        }
      }

      .item-title {
        font-size: 16px;
        font-weight: bold;
      }

      .item-brief {
        font-size: 16px;
        color: black;
      }
    }

    @media (max-width: 767px) {
      width: 95%;
      overflow-y: scroll;
      max-height: 400px;
    }
  }
}
