@import url('https://fonts.googleapis.com/css?family=Open+Sans:500,600,700,800,400italic,700italic,400');

$blue: #159bff;
$purple: #7a67f8;
$turquoise: #66e4a8;
$dgray: #242424; 

body {
    font-family: 'Open Sans', sans-serif;
    color: $dgray;
}

.row {
    &:before {
        content: none;
    }

    &:after {
        content: '';
    }
}

a {
    color: $blue;

    &:hover,
    &:active {
        color: $dgray;
    }
}

h1 {
    font-size: 44px;
    font-weight: 600;
    text-transform: none;
}

h2 {
    font-size: 36px;
    font-weight: 600;
    text-transform: none;
}

h3 {
    font-size: 30px;
    font-weight: 600;
    text-transform: none;
}

.body-content .article {
    margin-top: 120px;
    margin-right: 0;

    @media only screen and (max-width: 767px) {
        margin-top: 180px !important;
    }
}

.sidefilter {
    top: 116px;
}

.sidetoc {
    top: 178px;

    .nav > li.active > a {
        color: $purple;

        &:hover {
            color: #000;
        }
    }

    .toc {
        @media only screen and (max-width: 768px) {
            margin-left: 0;

            ul {
                margin: 0;

                li a {
                    margin: 0;
                }
            }
        }
    }
}

.sidenav {
    @media only screen and (max-width: 767px) {
        position: fixed;
        top: 116px;
        width: 100%;
        z-index: 999;
    }
}

.navbar-header {
    .navbar-toggle {
        border: none;
        height: 18px;
        background: none;
        padding: 0;
        margin: 0;

        &:hover,
        &:focus {
            background: none;
        }

        .icon-bar {
            background: $dgray;
            width: 20px;
        }

        .icon-bar + .icon-bar {
            margin-top: 3px;
        }

        &[aria-expanded='true'] {
            .icon-bar {
                background: $purple;
            }
        }
        @media (max-width: 767px) {
            margin-top: 12px;
        }
    }

    @media (max-width: 767px) {
        display: inline-block;
        vertical-align: middle;
        width: 100%;
        line-height: auto;
    }
}

.navbar:first-child {
    padding: 0 25px;
    min-height: 75px;
    line-height: 75px;
    vertical-align: middle;
    background: #ffffff;
    position: fixed;
    border-bottom: 1px solid #f4f2f3;
    top: 0;
    width: 100%;
    z-index: 9999;

    @media screen and(min-width: 768px) {
        line-height: auto;
        display: flex;
        align-items: center;
        height: 75px;
    }
    

    #logo {
        width: 43px;
        margin-top: 0;
        vertical-align: middle;
    }

    .navbar-brand {
        height: auto;
    }
}

.subnav {
    position: fixed;
    top: 75px;
    width: 100%;
    z-index: 999;
}

#navbar {
    margin: 0;
    margin-left: auto;
    padding: 15px 0;

    .level1 {
        li {
            padding: 0;
            display: inline-block;
            float: none;
        }

        a {
            padding: 0 16px;
            font-weight: 600;
            height: 43px;
            line-height: 43px;
            font-size: 14px;
            text-transform: uppercase;
            color: #3a3a3a;
            border-bottom: 2px solid transparent;
            transition: color 0.2s ease-in-out,
            background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;

            @media (min-width: 768px) and (max-width: 820px) {
                font-size: 12px;
            }
        }

        

        a:hover,
        .active a {
            background: none;
            border-color: $purple;
        }

        a[title='Get Started'] {
            background-color: rgb(122, 103, 248);
            border: 0;
            border-radius: 8px;
            box-sizing: content-box;
            color: rgb(255, 255, 255);
            cursor: pointer;
            display: inline-block;
            font-family: 'Open Sans', sans-serif;
            font-size: 18px;
            font-weight: 700;
            height: 27px;
            letter-spacing: 0.3px;
            line-height: 27px;
            margin-bottom: 0px;
            margin-left: 44px;
            padding-bottom: 8px;
            padding-left: 32px;
            padding-right: 32px;
            padding-top: 8px;
            text-align: center;
            text-transform: none;
            transition-delay: 0s, 0s, 0s;
            transition-duration: 0.2s, 0.2s, 0.2s;
            transition-property: color, background-color, border-color;
            transition-timing-function: ease-in-out, ease-in-out, ease-in-out;
            width: auto;

            @media (max-width: 1010px) {
                display: none;
            }

            &:hover {
                background: darken($purple, 5);
            }
        }
    }

    @media screen and (min-width: 768px) {
        display: inline-flex;
    }

    @media (max-width: 767px) {
        position: fixed;
        top: 75px;
        left: 0;
        background: #ffffff;
        width: 100%;
        margin: 0;
        border: none;
        padding: 0;
        text-align: left;
        box-shadow: none;

        .level1 {
            display: block;
            margin: 0;
            padding-bottom: 10px;

            li {
                display: block;
                padding: 0;
            }

            a {
                display: block;
                padding: 10px 25px;
                font-size: 120%;
                border: none;
                text-transform: none;
                height: auto;
                line-height: 1.8;
                font-weight: 500;
                font-size: 18px;

                &:hover {
                    background: $purple;
                    color: #fff;
                }
            }

            a[title='Get Started'] {
                display: none;
            }
        }
    }
}

.front-page {
    article section {
        margin-left: auto;
    }

    p {
        margin: 20px auto;
    }

    .subnav,
    .sideaffix,
    .footer {
        display: none;
    }


    .body-content {
        width: 100%;
        padding: 0;
        overflow: hidden;

        .article {
            margin: 0 !important;

            & > [class*='col'] {
                width: auto;
                padding: 0;
                float: none;
            }
        }
    }

    .button {
        display: inline-block; 

        a {
            display: inline-block;
            padding: 7px 17px;
            font-size: 20px;
            font-weight: bold;
            box-shadow: 0 2px 4px 0 rgba(31, 31, 31, 0.25);
            border-radius: 8px;
            transition: color 0.2s ease-in-out,
            background-color 0.2s ease-in-out;
        }

        &.white a {
            background: #fff; 
            color: $dgray;

            &:hover {
                background: $purple;
                color: #fff;
            }
        }

        &.turquoise a {
            background: $purple;
            color: #fff;

            &:hover {
                background: darken($purple, 5);
            }
        }
    }

    .intro {
        padding: 100px 15px 60px;
        @media screen and (min-width: 768px){
            padding: 200px 15px 120px;
        }
        text-align: center;
        font-size: 18px;
        position: relative;

        h1 {
            font-size: 36px;
            @media screen and (min-width: 768px) {
                font-size: 44px;
            }
            
            text-transform: none; 
            font-weight: 600;
            width: auto;
            max-width: 100%;
            margin: 0 auto;
            letter-spacing: normal;
        }

        p {
            width: 100%;
            font-size: 22px;
        }

        strong {
            font-weight: bold;
        }

        .button a {
            margin-top: 20px;
        }
    }

    .headerboxes {
        display: flex;
        flex-wrap: wrap;
        padding: 40px 15px;
        @media screen and (min-width: 768px){
            padding: 80px 15px; 
        }
        
        background-color: #f4f2f3; 

        .headerbox {
            margin: 40px auto; 

        }

        .headerbox-inner {
            padding: 0;
            height: 100%;
        }

        h2 {
            font-size: 30px;
            font-weight: 600;
            text-transform: none;

            .anchorjs-link {
                display: none;
            }
        }

        p {
            font-size: 16px;
            font-weight: 600;
        }

        .icon {
            margin: 0;
        }
    }
}
