@import url('https://fonts.googleapis.com/css?family=Open+Sans:500,600,700,800,400italic,700italic,400');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css");

$blue: #159bff;
$purple: #7a67f8;
$turquoise: #66e4a8;
$dgray: #242424;
$lgray: #c4c4c4;


:target::before {
    content: '';
    display: block;
    margin-top: -130px;
    height: 130px;
    width: 1px;
}
body {
    font-family: 'Open Sans', sans-serif;
    color: $dgray;
    mark {
      background: rgba(21,155,255, 0.25);
    }

    .toc {
        background-color: transparent;
    }

    .alert {
        background-color: transparent;
        border-color: $lgray;
        color: $dgray;
        padding: 26px 16px;
        transition: transform .2s;
        &:hover {
            transform: scale(1.05);
            border-color: $blue;
            box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
            h4{
                color: $blue;
            }
        }
    }
}
.row {
    &:before {
        content: none;
    }

    &:after {
        content: '';
    }
}

a {
    color: $blue;

    &:hover,
    &:active {
        color: $dgray;
    }
}

h1 {
    font-size: 48px;
    font-weight: 600;
    text-transform: none;
}

h2 {
    font-size: 44px;
    font-weight: 600;
    text-transform: none;
}

h3 {
    font-size: 36px;
    font-weight: 600;
    text-transform: none;
}

@media screen {
    pre {
        overflow: auto;

        > code {
            white-space: pre;
        }
    }
}

.body-content .article {
    margin-top: 120px;
    margin-right: 0;

    @media only screen and (max-width: 767px) {
        margin-top: 180px !important;
    }
}

.sidefilter {
  top: 116px;
  z-index: 2;
  padding: 10px;
  background-color: transparent!important;

  #search {
    display: block;
    border-radius: 10px;
    input:focus {
      outline: none;
      border:2px solid #159bff;
    }
  }

  #search-query {
    border-radius: 6px;
    height: 45px;
    width: 100%;
    padding: 10px;
  }

  #search-results {
    background: white;
    position: absolute;
    margin:5px 0 0 0;
    width:560px;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 10px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;

    .sr-items {
      a {
        color: black;
        &:first-child {
          border-radius: 10px 10px 0 0;
        }
        &:last-child {
          border-radius: 0 0 10px 10px;
          margin-bottom: 0;
        }
      }

      p {
        margin: 10px;
      }

      .sr-item {
        display: block;
        padding: 15px;
        margin-bottom: 10px;
        &:hover{
          background-image:linear-gradient(to bottom, rgba(21,155,255, 0.11) 0%, rgba(21,155,255, 0.11) 100%), linear-gradient(to bottom, rgba(21,155,255, 0.11) 0%, rgba(21,155,255, 0.11) 100%);
        }
      }

      .item-title {
        font-size: 16px;
        font-weight: bold;
      }

      .item-brief {
        font-size: 16px;
        color: black;
      }
    }

    @media (max-width: 767px) {
      width: 95%;
      overflow-y: scroll;
      max-height: 400px;
    }
  }
}

.sidetoc {
    top: 180px;
    background-color: white!important;

    .nav > li {
        line-height: 1.79;
        a {
            color: $dgray;
        }
    }

    .nav > li.active > a {
        color: $dgray;
        font-weight: bold;

        &:hover {
            color: #000;
        }
    }

    .toc {
        .nav > li > .expand-stub::before {
            font-family: 'Glyphicons Halflings';
            content: '\e258';
            font-size: 0.8em;
        }
        .nav > li.in > .expand-stub::before {
            font-family: 'Glyphicons Halflings';
            display: inline-block;
            content: '\e258';
            font-size: 0.8em;
            transform: rotate(90deg);
        }

        ul ul > li > a:before {
            content: '';
        }

        ul {
            padding-left: 5px;
            li a {
              padding-left: 5px;
            }
        }

        @media only screen and (max-width: 768px) {
            margin-left: 0;

            ul {
                margin: 0;

                li a {
                    margin: 0;
                }
            }
        }
    }
}

.sidenav {
    @media only screen and (max-width: 767px) {
        position: fixed;
        top: 96px;
        width: 100%;
        z-index: 999;
    }
}
.sideaffix {
    .contribution-link {
      font-size: 16px !important;
    }

    #affix {
        font-size: 16px;
        font-weight: 600;
        line-height: 1.5;
        height: auto;
        a {
            color: $dgray;
        }

        ul > li.active > a {
            font-weight: bold;
          &:before {
              color: $dgray;
          }
            ul > li.active > a {
              font-weight: bold;
              &:before {
                color: $dgray;
              }
            }
        }

        ul ul > li > a:before {
            top: 2px;
        }
        li:last-child {
            padding-bottom: 16px;
            margin-bottom: 0;
        }

        .title {
            text-transform: none;
            font-size: 20px;
        }

        .level1::before {
            width: 75%;
            border-top: 1px solid $lgray;
        }

        .level1::after {
            width: 75%;
            border-top: 1px solid $lgray;
        }
    }
}


.navbar-header {

    @media screen and(min-width: 980px) {
        align-self: center;
    }

    .navbar-toggle {
        border: none;
        height: 18px;
        background: none;
        padding: 0;
        margin: 0;
        display: none!important;

        &:hover,
        &:focus {
            background: none;
        }

        .icon-bar {
            background: $dgray;
            width: 20px;
        }

        .icon-bar + .icon-bar {
            margin-top: 3px;
        }

        &[aria-expanded='true'] {
            .icon-bar {
                background: $purple;
            }
        }
        @media (max-width: 979px) {
            margin-top: 10px;
            display: block!important;
        }
    }

    @media (max-width: 979px) {
        display: inline-block;
        vertical-align: middle;
        width: 100%;
        line-height: auto;
    }
}

.navbar:first-child {
    padding: 10px 15px;
    vertical-align: middle;
    background: #ffffff;
    position: fixed;
    border-bottom: 1px solid #f4f2f3;
    top: 0;
    width: 100%;
    z-index: 9999;

    @media screen and(min-width: 980px) {
        height: 75px;
        line-height: normal;
        display: flex;
        align-items: flex-start;
        padding: 0 30px;
    }


    #logo {
        width: 36px;
        margin-top: 0;
        vertical-align: middle;

        @media screen and(min-width: 980px) {
            width: 43px;
        }
    }

    .navbar-brand {
        height: auto;
    }
}

.subnav {
    position: fixed;
    top: 75px;
    width: 100%;
    z-index: 999;

    @media only screen and (max-width: 767px) {
      top: 55px;
    }
}



#navbar {
    margin: 0;
    margin-left: auto;
    padding: 15px 0 0;

    & > .navbar-nav {
        display: block;

        &.hidden {
            display: none;
        }
    }

    .menu,
    .level1 {
        align-items: center;

        li {
            padding: 0;
            display: inline-flex;
            vertical-align: top;
            float: none;

            &.has-children {
                position: relative;

                & > a::after {
                    display: inline-block;
                    content: "\f107";
                    font-family: 'FontAwesome';
                    font-style: normal;
                    font-size: 11.2px;
                    font-weight: 400;
                    margin: 0 0 0 8px
                }

                ul {
                    text-align: left;
                }

                @media screen and(min-width: 980px) {
                    ul {
                        visibility: hidden;
                        display: block;
                        position: absolute;
                        top: 100%;
                        left: 0;
                        z-index: 778;
                        padding: 15px;
                        box-shadow: 0px 8px 28px 0px rgba(0,0,0,.08);
                        background-color: #fff;

                        a {
                            text-transform: none;
                        }
                    }
                }

                &:hover {

                    ul {
                        visibility: visible;
                    }
                }
            }
        }

        a {
            padding: 0 16px;
            font-weight: 600;
            height: 28px;
            line-height: 28px;
            font-size: 14px;
            text-transform: uppercase;
            color: #3a3a3a;
            border-bottom: 2px solid transparent;
            transition: color 0.2s ease-in-out,
            background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
        }

        a:hover,
        .docs a {
            background: none;
            border-color: $purple;
        }

        .get-started-btn a,
        a[title="Get Started"] {
            background-color: rgb(122, 103, 248);
            border: 0;
            border-radius: 8px;
            box-sizing: content-box;
            color: rgb(255, 255, 255);
            cursor: pointer;
            display: inline-block;
            font-family: 'Open Sans', sans-serif;
            font-size: 18px;
            font-weight: 700;
            height: 27px;
            letter-spacing: 0.3px;
            line-height: 27px;
            margin-bottom: 0px;
            margin-left: 44px;
            padding-bottom: 8px;
            padding-left: 32px;
            padding-right: 32px;
            padding-top: 8px;
            text-align: center;
            text-transform: none;
            transition-delay: 0s, 0s, 0s;
            transition-duration: 0.2s, 0.2s, 0.2s;
            transition-property: color, background-color, border-color;
            transition-timing-function: ease-in-out, ease-in-out, ease-in-out;
            width: auto;

            &:hover {
                background: darken($purple, 5);
            }
        }
    }

    @media screen and (min-width: 980px) {
        display: inline-flex;
    }

    @media (max-width: 979px) {
        position: fixed;
        top: 57px;
        left: 0;
        background: #ffffff;
        width: 100%;
        margin: 0;
        border: none;
        padding: 0;
        text-align: left;
        box-shadow: none;

        &.collapse {
            display: none!important;
        }
        &.collapse.in {
            display: block!important;
        }

        .menu,
        .level1 {
            display: block;
            margin: 0;
            padding: 0 0 10px 0;

            li {
                display: block;
                padding: 0;

                &.has-children {
                    position: relative;

                    & > a::after {
                        font-size: 16px;
                        font-weight: 700;
                        float: right;
                    }

                    ul {
                        max-height: 0;
                        overflow: hidden;
                        visibility: visible;
                        position: relative;
                        padding: 0;
                        transition: all .5s ease;

                        a {
                            padding-left: 40px;

                            &::before {
                                content: "-";
                                margin-right: 5px;
                            }
                        }
                    }

                    &.open {

                        & > a::after {
                            display: inline-block;
                            content: "\f106";
                        }

                        ul {
                            max-height: 500px;
                        }
                    }
                }
            }

            .get-started-btn {
                padding: 10px 25px;

                a {
                    margin: 0;
                }
            }

            a[title="Get Started"] {
                margin: 10px 25px;
            }

            a {
                display: block;
                padding: 10px 25px;
                border: none;
                text-transform: none;
                height: auto;
                line-height: 1.4;
                font-size: 16px;
                font-weight: 700;
            }
        }
    }
}

.front-page {
    article section {
        margin-left: auto;
    }

    p {
        margin: 20px auto;
    }

    .subnav,
    .sideaffix,
    .footer {
        display: none;
    }


    .body-content {
        width: 100%;
        padding: 0;
        overflow: hidden;

        .article {
            margin: 0 !important;

            & > [class*='col'] {
                width: auto;
                padding: 0;
                float: none;
            }
        }
    }

    .button {
        display: inline-block;

        a {
            display: inline-block;
            padding: 7px 17px;
            font-size: 20px;
            font-weight: bold;
            box-shadow: 0 2px 4px 0 rgba(31, 31, 31, 0.25);
            border-radius: 8px;
            transition: color 0.2s ease-in-out,
            background-color 0.2s ease-in-out;
        }

        &.white a {
            background: #fff;
            color: $dgray;

            &:hover {
                background: $purple;
                color: #fff;
            }
        }

        &.turquoise a {
            background: $purple;
            color: #fff;

            &:hover {
                background: darken($purple, 5);
            }
        }
    }

    .intro {
        padding: 100px 15px 60px;
        @media screen and (min-width: 768px){
            padding: 200px 15px 120px;
        }
        text-align: center;
        font-size: 18px;
        position: relative;

        h1 {
            font-size: 36px;
            @media screen and (min-width: 768px) {
                font-size: 44px;
            }

            text-transform: none;
            font-weight: 600;
            width: auto;
            max-width: 100%;
            margin: 0 auto;
            letter-spacing: normal;
        }

        p {
            width: 100%;
            font-size: 22px;
        }

        strong {
            font-weight: bold;
        }

        .button a {
            margin-top: 20px;
        }
    }

    .headerboxes {
        display: flex;
        flex-wrap: wrap;
        padding: 40px 15px;
        @media screen and (min-width: 768px){
            padding: 80px 15px;
        }

        background-color: #f4f2f3;

        .headerbox {
            margin: 40px auto;

        }

        .headerbox-inner {
            padding: 0;
            height: 100%;
        }

        h2 {
            font-size: 30px;
            font-weight: 600;
            text-transform: none;

            .anchorjs-link {
                display: none;
            }
        }

        p {
            font-size: 16px;
            font-weight: 600;
        }

        .icon {
            margin: 0;
        }
    }
}
