<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Uno SamplesApp</string>
	<key>CFBundleName</key>
	<string>SamplesApp.macOS</string>
	<key>CFBundleIdentifier</key>
	<string>com.companyname.SamplesApp-macOS</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.11</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>NSHumanReadableCopyright</key>
	<string>${AuthorCopyright:HtmlEncode}</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>XSAppIconAssets</key>
	<string>Assets.xcassets/AppIcon.appiconset</string>
	<key>ATSApplicationFontsPath</key>
	<string>Fonts/uno-fluentui-assets.ttf</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>Uno Samples Test scheme</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>uno-samples-test</string>
			</array>
		</dict>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionMinimumTLSVersion</key>
		<string>TLSv1.2</string>
	</dict>
</dict>
</plist>
