@use 'sass:color';
@use '../variables' as *;

.alert {
  background-color: transparent;
  border-color: $lightgray;
  color: $darkgray;
  padding: 16px 16px;
  transition: transform .2s;
}

.alert-hover {
  &:hover {
    transform: scale(1.05);
    border-color: $blue;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
    h4{
      color: $blue;
    }
  }
}

// DocFX alert blocks styling
@mixin alert-block($bg-color, $border-color, $text-color) {
  background-color: $bg-color;
  border-left: 4px solid $border-color;
  padding: 16px 20px;
  margin: 16px 0;
  border-radius: 4px;

  h5 {
    color: $text-color;
    margin-top: 0;
    margin-bottom: 8px;
    font-weight: 600;
  }

  p:last-child {
    margin-bottom: 0;
  }
}

.NOTE, .TIP {
  @include alert-block(lighten($blue, 40%), $blue, $blue);
}

.IMPORTANT, .WARNING {
  @include alert-block(lighten($orange, 40%), $orange, $orange);
}

.CAUTION {
  @include alert-block(lighten($red, 40%), $red, $red);
}
