html,
body {
  /**
      Disable root scrolling (bouncing effect on touch devices)
    */
  position: fixed;
  height: 100%;
  width: 100%;
  overflow: hidden;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  /*
    Disable **browsers** touch (and pen) manipulations support.
    Remarks: This has no relation with the UIElement.ManipulationMode which are handled in managed code.
             It only ensures that uno will always get ALL pointer events instead of being stolen by the browser for its internal gesture detection.
             This will also disable left and right swipe gesture to navigate through browser's history.
    Remarks 2: If applied only on the root of the app, this won't break the scrolling (unlike if applied on all UIElement).
  */
  touch-action: none;
}

.uno-root-element {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#uno-root {
    overflow: hidden;
}

#uno-loading {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: var(--light-theme-bg-color, #F3F3F3);
}

@media (prefers-color-scheme: dark) {
  #uno-loading {
    background-color: var(--dark-theme-bg-color, #202020);
  }
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}

.uno-aria-live {
  position: fixed;
  overflow: hidden;
  transform: translate(-99999px, -99999px);
  width: 1px;
  height: 1px;
}

#uno-enable-accessibility {
  position: absolute;
  left: -1px;
  top: -1px;
  width: 1px;
  height: 1px;
}

#uno-semantics-root {
  filter: opacity(0%);
  pointer-events: none;
}

#uno-canvas {
    position: fixed;
    width: 100%;
    height: 100%;
}

/* Uno has its own HR indicator: hide default dotnet indicator. */
#dotnet-hotreload-toast {
  visibility: collapse;
}
