{{!Licensed to the .NET Foundation under one or more agreements. The .NET Foundation licenses this file to you under the MIT license.}}

<div id="sidetoggle">
  <div>
    <div class="sidefilter">
      <div id="search"></div>
    </div>
    <div class="sidetoc">
      <div class="toc" id="toc">
        {{^leaf}}
          {{>partials/li}}
        {{/leaf}}
      </div>
    </div>
  </div>
</div>
