{{!Copyright (c) Microsoft. All rights reserved. Licensed under the MIT license. See LICENSE file in the project root for full license information.}}

<div id="sidetoggle">
    <div>
        <div class="sidefilter">
            <div id="search"></div>
            <form class="toc-filter" style="display:none;">
                <span class="glyphicon glyphicon-filter filter-icon"></span>
                <span class="glyphicon glyphicon-remove clear-icon" id="toc_filter_clear"></span>
                <input type="text" id="toc_filter_input" placeholder="Filter by title" onkeypress="if(event.keyCode==13) {return false;}">
            </form>
        </div>
        <div class="sidetoc">
            <div class="toc" id="toc">
                {{^leaf}}
                {{>partials/li}}
                {{/leaf}}
            </div>
        </div>
    </div>
</div>
