$blue: #159bff;
$lightblue: #EAF2F9;
$purple: #7a67f8;
$turquoise: #67e5ad;
$darkgray: #333333;
$lightgray: #f1f1f1;
$white: #fff;
$black: #242424;
$gray: #9d9d9d;
$offWhite: #fcfcfc;
$green: #67e5ad;
$red: #ed3f64;
$orange: #ff9c1a;

// GitHub alert colors
$github-note-blue: #0969da;
$github-note-bg: #ddf4ff;
$github-tip-green: #1a7f37;
$github-tip-bg: #dafbe1;
$github-important-purple: #8250df;
$github-important-bg: #f6f0ff;
$github-warning-yellow: #9a6700;
$github-warning-bg: #fff8c5;
$github-caution-red: #d1242f;
$github-caution-bg: #ffebe9;


