{{!Copyright (c) Microsoft. All rights reserved. Licensed under the MIT license. See LICENSE file in the project root for full license information.}}
{{!include(/^styles/.*/)}}
{{!include(/^fonts/.*/)}}
{{!include(favicon.ico)}}
{{!include(logo.svg)}}
{{!include(search-stopwords.json)}}
<!DOCTYPE html>
<!--[if IE]><![endif]-->
<html lang="en">
{{>partials/head}}
{{>partials/_google-tag-manager}}
<body class="{{uid}}" data-spy="scroll" data-target="#affix" data-offset="120">
<div id="wrapper">
    <header>
        {{^_disableNavbar}}
            {{>partials/_navbar}}
        {{/_disableNavbar}}
        <div id="header-controls">
            <div class="container">
                {{^_disableBreadcrumb}}
                    {{>partials/breadcrumb}}
                {{/_disableBreadcrumb}}
                <div id="search"></div>
                <div id="header-right" class="subnav">
                    <div id="sdk-version-info">
                        <span class="sdk-version-badge" title="Latest stable Uno SDK version" role="button" tabindex="0" onkeydown="if (event.key === 'Enter') { event.preventDefault(); this.click(); } else if (event.key === ' ') { event.preventDefault(); }" onkeyup="if (event.key === ' ') { this.click(); }">
                            <span class="sdk-label">SDK</span>
                            <span class="sdk-version">Loading...</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div role="main" class="container body-content">
        {{^_disableToc}}
            {{>partials/toc}}
        <div class="article row grid-right">
        {{/_disableToc}}
        {{#_disableToc}}
        <div class="article row grid">
        {{/_disableToc}}
        {{#_disableAffix}}
        <div class="col-md-12">
        {{/_disableAffix}}
        {{^_disableAffix}}
        <div class="col-md-8">
        {{/_disableAffix}}
        <article class="content wrap" id="_content" data-uid="{{uid}}" data-pagefind-body>
            {{!body}}
        </article>
    </div>
        {{^_disableAffix}}
            {{>partials/affix}}
        {{/_disableAffix}}
    </div>
    </div>
        {{^_disableFooter}}
            {{>partials/footer}}
        {{/_disableFooter}}
    </div>
        {{>partials/scripts}}
    </div>
</div>
</body>
</html>
