//
//  Config.xcconfig
//  UnoNativeMac
//
//  Created by Sebastien Pouliot on 2024-01-17.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

CONFIGURATION_BUILD_DIR = $(SRCROOT)/build/$CONFIGURATION
BUILT_PRODUCTS_DIR = $(SRCROOT)/build/$CONFIGURATION
