<Project ToolsVersion="15.0">
	<!--
		This file is used to control the platforms compiled by visual studio, and 
      		allow for a faster build when testing for a single platform.
    
    		Instructions:
			1) Copy this file and remove the ".sample" name
			2) Uncomment and adjust the UnoNugetOverrideVersion property below
			3) Make sure to do a Rebuild, so that nuget restores the proper packages for the new target
	-->

  <PropertyGroup>
    <IsUnoUIProject>false</IsUnoUIProject>
    <IsUnoUIProject Condition="'$(AssemblyName)'=='Uno' or '$(AssemblyName)'=='Uno.UI' or '$(AssemblyName)'=='Uno.Foundation'">true</IsUnoUIProject>
    
    <!--
    	This property controls the platform built by Visual Studio.
		
      	Available build targets and corresponding solution filters:
								uap10.0.17763 (Windows) - Uno.UI-Windows-only.slnf
								xamarinios10 (iOS) - Uno.UI-iOS-only.slnf
								MonoAndroid11.0 (Android 11.0) - Uno.UI-Android-only.slnf
								netstandard2.0 (WebAssembly, Skia) - Uno.UI-Wasm-only.slnf, Uno.UI-Skia-only.slnf
								xamarinmac20 (macOS) - Uno.UI-macOS-only.slnf (Visual Studio for Windows), Uno.UI-vs4mac-macOS-only.sln (Visual Studio for Mac)
								net461 (Uno.UI.Tests) - Uno.UI-UnitTests-only.slnf

        Only one target can be built, and the corresponding solution filter must
        be loaded in Visual Studio (see next to Uno.UI.sln).

        *** WARNING ***
        Note that changing that property while the solution is opened leads to
        unstable nuget restore operations, and Visual Studio instabilities such
        as caching issues or crashes.

        Always unload the solution before changing or activating this property.
        *** WARNING ***
    -->
    <!--<UnoTargetFrameworkOverride>netstandard2.0</UnoTargetFrameworkOverride>-->
    
    <!-- 
    This property allows the override of the nuget local cache.
    Set it to the version you want to override, used in another app.
    You will see the override path in the build output.
    The packages are located under this directory: "%USERPROFILE%\.nuget\packages".
    -->
    <!--<UnoNugetOverrideVersion>2.23.2-dev.667</UnoNugetOverrideVersion>-->
  </PropertyGroup>
</Project>
